<div class="card-trip my-3 card">
  <% if item.photos.attached? %>
    <%= image_tag item.photos.first.variant(resize_to_fill: [300, 300]).processed, class: "card-img-top", alt: "Card image cap" %>
  <% else %>
    <img class="card-img-top" src="<%= asset_path('default-avatar.avif') %>" alt="Card image cap">
  <% end %>
  <div class="card-trip-infos">
    <div class="card-trip-infos-inner">
      <%# <h2><%= link_to item.name, item_path(item) %>
      <h2><%= item.name %></h2>
      <p><%= item.description %></p>
    </div>
    <h2 class="card-trip-pricing"><%= item.price %> €</h2>
    <% if user_signed_in? && current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, height: 50, width: 50, crop: :fill, style:"border-radius: 50%; box-shadow: 0 2px 5px #17122B; border: white 2px solid;", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% else %>
      <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= asset_path('default-avatar.avif') %>" />
    <% end %>
  </div>
</div>
