<div class="w-100 sticky-top">
  <%= render 'partials/navbar' %>
</div>

<div class="container my-5 rounded-larger">
  <h1 class="mb-4"><strong>My Rentals</strong></h1>
  <div class="bg-primary rounded-larger py-2 px-2">
    <h1 class="mb-4">Items to Approve</h1>

    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Item</th>
          <th>Renter</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @pending_rentals.each do |rental| %>
          <tr>
            <td><%= rental.item.name %></td>
            <td><%= rental.user.email %></td>
            <td><%= rental.start_date %></td>
            <td><%= rental.end_date %></td>
            <td><%= rental.status %></td>
            <td class="button-cell"><%= link_to 'Show', rental, class: 'orange_button' %></td>
            <td class="button-cell"><%= link_to 'Approve', rental_approve_path(rental), class: 'teal_button', data: {turbo_method: :patch} %></td>
            <td class="button-cell"><%= link_to 'Decline', rental_decline_path(rental), class: 'crimson_button', data: { turbo_method: :patch } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="bg-primary rounded-larger py-2 px-2 my-4">
    <h1 class="mb-4">Approved Items</h1>

    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Item</th>
          <th>Renter</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @approved_rentals.each do |rental| %>
          <tr>
            <td><%= rental.item.name %></td>
            <td><%= rental.user.email %></td>
            <td><%= rental.start_date %></td>
            <td><%= rental.end_date %></td>
            <td><%= rental.status %></td>
            <td class="button-cell"><%= link_to 'Show', rental, class: 'orange_button' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="bg-primary rounded-larger py-2 px-2">
    <h1 class="mb-4">Items Being Rented</h1>

    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Item</th>
          <th>Owner</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @renter_rentals.each do |rental| %>
          <tr>
            <td><%= rental.item.name %></td>
            <td><%= rental.item.user.email %></td>
            <td><%= rental.start_date %></td>
            <td><%= rental.end_date %></td>
            <td><%= rental.status %></td>
            <td class="button-cell"><%= link_to 'Show', rental, class: 'orange_button' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="bg-primary rounded-larger py-2 px-2 my-4">
    <h1 class="mb-4">Notifications</h1>

    <% if current_user.notifications.any? %>
      <ul class="list-group">
        <% current_user.notifications.order(created_at: :desc).each do |notification| %>
          <li class="list-group-item">
            <%= notification.message %>
            <% if !notification.read? %>
              <span class="badge bg-danger">New</span>
              <%= link_to 'Mark as read', mark_as_read_notification_path(id: notification.id), data: { turbo_method: :patch }, class: 'teal_button float-end' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No notifications.</p>
    <% end %>
  </div>

  <div class="mt-4 rounded-larger">
    <%= link_to 'Back to Items', items_path, class: 'crimson_button' %>
  </div>
</div>
