<h1>Rental Details</h1>

<p>
  <strong>Item:</strong>
  <%= @rental.item.name %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @rental.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @rental.end_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @rental.status %>
</p>

<%= link_to 'Edit', edit_item_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
