
<% require 'action_view/helpers/url_helper' %>
<div class="w-100 sticky-top">
  <%= render 'partials/navbar' %>
</div>
<div class="container my-5">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="mb-4">Rental Details</h1>

      <div class="card">
        <div class="card-body">
          <p class="card-text">
            <strong>Item:</strong> <%= link_to @rental.item.name, item_path(@rental.item), class: "text-dark" %>
          </p>
          <p class="card-text">
            <strong>Start Date:</strong> <%= @rental.start_date %>
          </p>
          <p class="card-text">
            <strong>End Date:</strong> <%= @rental.end_date %>
          </p>
          <p class="card-text">
            <strong>Status:</strong> <%= @rental.status %>
          </p>
          <p class="card-text">
            <strong>Price:</strong> <%= @rental.item.price %>
          </p>
        </div>
        <div class="card-footer text-center">
          <%# <%= link_to 'Edit', edit_item_rental_path(@rental.item, @rental), class: 'btn btn-warning btn-sm' %>
          <%= link_to 'Back', rentals_path, class: 'teal_button ml-2' %>
          <% if @rental.status == 'pending' && @rental.item.user == current_user %>
          <%= link_to 'Approve', approve_rental_path(@rental), class: 'btn btn-success btn-sm', data: { turbo_method: :patch } %>
          <%= link_to 'Decline', decline_rental_path(rental_id: @rental.id), class: 'btn btn-success btn-sm', data: { turbo_method: :patch } %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
