<div class="container my-5">
  <h1 class="mb-4">Items</h1>

<div class="row">
  <% @items.each do |item| %>
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
        <% if item.photos.attached? %>
          <%= image_tag item.photos.first.variant(resize_to_fill: [300, 300]).processed, class: "card-img-top", alt: "Card image cap" %>
        <% else %>
          <img class="card-img-top" src="<%= asset_path('placeholder.jpg') %>" alt="Card image cap">
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text"><%= item.description %></p>
          <a href="<%= item_path(item) %>" class="btn btn-primary">Rent</a>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= form_with url: items_path, method: :get, local: true, class: "mb-4" do %>
  <div class="form-group">
    <%= label_tag :category, "Filter by category" %>
    <%= select_tag :category, options_for_select(Item.pluck(:category).uniq), include_blank: "All", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= submit_tag "Filter", class: "btn btn-primary" %>
  </div>
<% end %>

</div>
