<!DOCTYPE html>
<html>
  <head>
    <title>PortableParenting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <div class="container mt-5 d-flex justify-content-center align-items-center" style="min-height: 100vh;" data-controller="alert">
      <div class="w-100" style="max-width: 500px;">
        <% if notice %>
          <div class="alert alert-light alert-dismissible fade show text-center" role="alert" data-alert-target="alert">
            <%= notice %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-light alert-dismissible fade show text-center" role="alert" data-alert-target="alert">
            <%= alert %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
